.navbar {
    display: flex;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: center;
  }
  
  .navbar button {
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar button:hover {
    background-color: #068ef7;
    color: white;
  }
  